h1{
    color: yellowgreen;
}


.grid{

    display:flex;
    flex-wrap:wrap;
    justify-content : space-between;

}


.grid2{

    display:flex;
    flex-wrap:wrap;
    justify-content : space-evenly;

}
